<mat-card class="example-card-cli">
    <mat-card-header>
      <mat-card-title>Ciclo de Vida</mat-card-title>
      <mat-card-subtitle>Seguimiento</mat-card-subtitle>
    </mat-card-header>
    <mat-form-field>
       <!-- <mat-label>Ciclo de Vida</mat-label>-->
        <mat-select placeholder="SELECCCION" [(value)]="idCiclo">
          <mat-option *ngFor="let p of ( cicloVida$  | async )" [value]="p.idCiclo">
            {{p.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-card-actions>
        <mat-divider></mat-divider>
        <section>
          <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="guardar()">Actualizar</button>
          </div>
        </section>
    </mat-card-actions>
  </mat-card>
