<router-outlet></router-outlet>


<div [hidden]="route.children.length !== 0">

  <mat-toolbar > <p class="center"> REPORTES GESTOR CLIENTES {{empresaparametro}}</p> </mat-toolbar>

  <mat-card class="example-card-cli">

    <mat-card-content class="content-container">
    <mat-form-field appearance="fill">
      <mat-label >Buscar</mat-label>
      <input matInput (keyup)="filtro($event)" placeholder="Reportes" #input >
    </mat-form-field>
    <section>
      <mat-button-toggle-group name="pies" [(ngModel)]="favoritePie" aria-label="Pies">
        @for (pie of pieOptions; track pie) {
        <mat-button-toggle [value]="pie">{{pie}}</mat-button-toggle>
        }
      </mat-button-toggle-group>
      
    </section>
  </mat-card-content>
</mat-card>

<div *ngIf="favoritePie === 'Lista'">
  <mat-card class="example-card-cli">
    <div class="animated fadeIn m-5 mosaico-container" >
    <table mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8">

        <ng-container matColumnDef="serial">
          <th mat-header-cell *matHeaderCellDef class="centre"> # </th>
          <td mat-cell *matCellDef="let i = index"  scope="row" class="center" >{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="nombre_reporte">
          <th mat-header-cell *matHeaderCellDef class="centre"> REPORTE </th>
          <td mat-cell *matCellDef="let element" class="center"> {{element.nombre_reporte |  uppercase }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="centre" > ACCIONES </th>
          <td mat-cell *matCellDef="let element" class="center"> 
            <button mat-button color="primary" [routerLink]="[element.nombre_descarga]">
              <svg height="24px" viewBox="0 -960 960 960" width="24px" fill="#3f51b5"><path d="M34-154v-134h421v134H34Zm0-217v-134h262v134H34Zm0-216v-135h262v135H34Zm809 407L693-337q-25 17-53.49 25-28.49 8-57.44 8-94.86 0-159.96-67.41Q357-438.83 357-534.73q0-95.91 65.39-164.09 65.4-68.18 159-68.18 93.61 0 159.11 67.85Q806-631.3 806-535q0 30.65-7 59.83-7 29.17-23 55.3L926-263l-83 83ZM581.5-424q43.5 0 75-32.61 31.5-32.6 31.5-79.18 0-46.59-31.42-79.4Q625.17-648 582-648q-45 0-76 32.91-31 32.9-31 79.91 0 45.93 30.79 78.55Q536.58-424 581.5-424Z"/></svg>
            </button>  
          </td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
</mat-card>

</div>

<div *ngIf="favoritePie === 'Mosaico'">
  <mat-card class="example-card-cli">
      <mat-card-content>
        <div class="animated fadeIn m-5 mosaico-container"  >
          <div class="mosaico-item" *ngFor="let element of dataSource.data" matRipple>
            <div class="item-header" [routerLink]="[element.nombre_descarga]"> 
              <mat-card-subtitle>Reporte</mat-card-subtitle>
              <ng-container matColumnDef="serial"> <mat-card-title>{{element.nombre_reporte |  uppercase }}</mat-card-title> </ng-container>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
