<mat-card class="example-card-cli">
  <mat-card-header>
    <div class="center">
      <mat-card-title>CLIENTE</mat-card-title>
      <mat-card-subtitle>detalles</mat-card-subtitle></div>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSourceCli" class="mat-elevation-z8">

        <ng-container matColumnDef="razonSocial">
          <th mat-header-cell *matHeaderCellDef> RAZÓN SOCIAL </th>
          <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipoDocumento.tipoDoc">
          <th mat-header-cell *matHeaderCellDef> TIPO </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoDocumento.tipoDoc}} </td>
        </ng-container>

        <ng-container matColumnDef="nroDocumento">
          <th mat-header-cell *matHeaderCellDef> DOCUMENTO </th>
          <td mat-cell *matCellDef="let element"> {{element.nroDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="divipola.nombre">
          <th mat-header-cell *matHeaderCellDef> MUNICIPIO </th>
          <td mat-cell *matCellDef="let element"> {{element.divipola.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="divipola.idZonapadre.nombre">
          <th mat-header-cell *matHeaderCellDef> DEPARTAMENTO </th>
          <td mat-cell *matCellDef="let element"> {{element.divipola.idZonapadre.nombre}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef> CORREO </th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="telefonoCelular">
          <th mat-header-cell *matHeaderCellDef> CELULAR </th>
          <td mat-cell *matCellDef="let element"> {{element.telefonoCelular}} </td>
        </ng-container>

        <ng-container matColumnDef="telefonoFijo">
          <th mat-header-cell *matHeaderCellDef> FIJO </th>
          <td mat-cell *matCellDef="let element"> {{element.telefonoFijo}} </td>
        </ng-container>
      

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
          <th mat-cell *matCellDef="let row">
              <button mat-button color="primary" (click)="abrirCliente(row)">
                  <mat-icon>ballot</mat-icon>
              </button>
              <button mat-button color="accent"  (click)="abrirCasoNuevo(row)">
                <mat-icon>note_add</mat-icon>
              </button>
          </th>
      </ng-container>
  

        <tr mat-header-row *matHeaderRowDef="clienteColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: clienteColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br>

<mat-card class="example-card-cli">
    <!--Formulario de Historico De Gestiones *ngIf="!vistadetallescasos" -->
         <mat-card class="example-card-cli" *ngIf="!vistadetallescasos" > 
        <mat-card-header>
          <div class="center">
            <mat-card-title>CRM CUENTAS</mat-card-title>
            <mat-card-subtitle>Historico de casos por cliente</mat-card-subtitle></div>
          </mat-card-header>

          <mat-card-content>

            <table mat-table [dataSource]="dataSourceCasos" class="colorTabla">  
              <ng-container matColumnDef="idCaso">
                <th mat-header-cell *matHeaderCellDef> Nro Caso </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.idCaso}} </td>
              </ng-container>
  
              <ng-container matColumnDef="nroRealmarcado">
                <th mat-header-cell *matHeaderCellDef> Nro Real </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.nroRealmarcado}} </td>
              </ng-container>

              <ng-container matColumnDef="fechaCaso">
                <th mat-header-cell *matHeaderCellDef> fecha Caso </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.fechaCaso | date: 'YYYY-MM-dd HH:mm'}} </td>
              </ng-container>
  
              <ng-container matColumnDef="fechaVencimiento">
                <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.fechaVencimiento }} </td>
              </ng-container>

              <ng-container matColumnDef="fechaCierre">
                <th mat-header-cell *matHeaderCellDef> Fecha Cierre </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.fechaCierre | date: 'YYYY-MM-dd HH:mm'}} </td>
              </ng-container>

              <ng-container matColumnDef="nombreCategoria">
                <th mat-header-cell *matHeaderCellDef> Categoria</th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.nombreCategoria}} </td>
              </ng-container>

            
              <ng-container matColumnDef="nombreSubcategoria">
                <th mat-header-cell *matHeaderCellDef> Sub-Categoria</th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.nombreSubcategoria}} </td>
              </ng-container>  
  
              <ng-container matColumnDef="nombreTipologia">
                <th mat-header-cell *matHeaderCellDef> Tipología </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.nombreTipologia}} </td>
              </ng-container>

            
             
              <ng-container matColumnDef="nombreEstado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.nombreEstado}} </td>
              </ng-container>

              <ng-container matColumnDef="nombreNivel">
                <th mat-header-cell *matHeaderCellDef> Nivel </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.nombreNivel}} </td>
              </ng-container>

              <ng-container matColumnDef="nombreDepartamento">
                <th mat-header-cell *matHeaderCellDef> Departamento </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.nombreDepartamento}} </td>
              </ng-container>
              
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef  >VER CASO</th>
                <td mat-cell *matCellDef="let element" (click)="verDetalleCasos(element.idCaso, element.nombreEstado)">
                <mat-icon>android</mat-icon></td>
              </ng-container>
              
  
              <tr mat-header-row *matHeaderRowDef="crmCasosColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: crmCasosColumns;"></tr>
              
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            
          </mat-card-content>         
        </mat-card>

         <!-- vista detalle del caso -->


  <!--Formulario de Historico De Gestiones *ngIf="vistadetallescasos" -->

    <mat-card class="example-card-cli" *ngIf="vistadetallescasos" > 
        <mat-card-header>
            <div class="center">
              <mat-card-title>DETALLE DEL CASO {{idCaso}}</mat-card-title>
              <mat-card-subtitle>Historico Observaciones</mat-card-subtitle>
            </div>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="dataSourceDeta" class="colorTablaDe">
   
              <ng-container matColumnDef="idDetalle">
                <th mat-header-cell *matHeaderCellDef> Nro Detalle </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.idDetalle}} </td>
              </ng-container>
  
              <ng-container matColumnDef="fechaDetalle">
                <th mat-header-cell *matHeaderCellDef> Fecha Observación</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaDetalle | date: 'YYYY-MM-dd HH:mm'}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="detalleCasosColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: detalleCasosColumns;"></tr>

              <ng-container matColumnDef="observacion">
                <th mat-header-cell *matHeaderCellDef> Observación </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.observacion}} </td>
              </ng-container>

              <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef> Agente </th>
                <td mat-cell *matCellDef="let element" class="mat-row"> {{element.usuario}} </td>
              </ng-container>
              
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
          </mat-card-content>  

          <div class="example-card-obs" [hidden]="activoEstado">
          <mat-card >
            <form [formGroup]="formGuardar" (ngSubmit)="aceptar()">
            <mat-form-field appearance="fill">
                  <mat-label>Estado del Caso</mat-label>
                  <mat-select formControlName="idEstado" >
                    <mat-option value="1">ABIERTO</mat-option>
                    <mat-option value="2">CERRADO</mat-option>
                    <mat-option value="3">ANÁLISIS</mat-option>
                  </mat-select>
                </mat-form-field>
              <mat-divider></mat-divider>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Observacion</mat-label>
                <textarea formControlName="observacion" matInput placeholder="Observación" 
                [class.is-invalid]="observacionNoValido"></textarea>
              </mat-form-field>
              @if (observacionNoValido) {
                <div class="error-message">
                  Debe ser mínimo de 4 caracteres
                </div>
                }

            <section >
              <div class="example-button-row" >
                <button mat-raised-button color="primary" type="submit" [disabled]="formGuardar.invalid">
                  <mat-icon>call</mat-icon>
                  <span>OBSERVACIÓN</span></button>
              </div>
            </section>
            <mat-divider></mat-divider>  
          </form>  
          </mat-card>
        </div>
          
          <button mat-raised-button color="accent" (click)="cancelarDet()">
            <mat-icon>delete_forever</mat-icon>
            <span>CANCELAR</span></button>
        
        </mat-card>
 </mat-card>

 <!--     
 
<hr>
<pre>
  estado: {{formGuardar.valid}}
  <br>
    Status: {{formGuardar.status}}
  </pre>
  <pre>
    {{formGuardar.value | json }}
  </pre>

  -->





 

