



     /*CARD*/

  .example-card {
    max-width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }



  /*OBSERVACION*/
  .example-card-obs {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container>* {
    width: 100%;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .wide-textarea {
    width: 100%; /* Ajusta el porcentaje según sea necesario */
  }

 
  /**BOTON**/

  section {
  display: table;
  width: 100%;
  text-align: center;
  
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
  
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
 
}




  //*******ANDRES****

.mat-card-header{
    text-align: center;
    background-color: #bbbbd6 ;
    padding:5px ;
  }
  

  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  /*tipificacion*/
.table {
    width: 100%;
  }

.mat-select-content{
    width: 60%;
  } 

  
  .example-full-width {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  td {
    padding-right: 8px;
  }


  /*Botones*/


  .example-label {
    display: table-cell;
    font-size: 24px;
    margin-left: 16px;
    min-width: 180px;
  }
  


th, td {
    padding: 10px; /* Ajusta el valor según el espacio deseado */
    
}


  table {
    border-collapse: collapse;
    border-spacing: 10px; /* Ajusta el valor según el espacio deseado */
  }
  
  th {
    /* row border */
    border-bottom: 1px solid #ffa600;
  }
  
  td.mat-cell {
    /* row padding */
    padding: 20px 0;
    border: none;
  }
  
  tr.mat-row {
    /* row border */
    border: 1px solid #ffa600;
  }
  

   /*CARD*/
  .example-card-cli {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
  }

 /*Alerta*/

  .error-message {
    color: red;
    font-size: small;
 }


 /* PANEL DE EXPANSIÓN*/
 .example-action-buttons {
  padding-bottom: 20px;
}



.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}



/* Estilo para celdas de datos pares dentro de #tabla1 a partir de la segunda fila */
.colorTabla tr:nth-child(even) td {
  background-color: #ffffff;
}

/* Estilo para celdas de datos impares dentro de #tabla1 a partir de la segunda fila */
.colorTabla tr:nth-child(odd) td {
  background-color: #d4eed8;
}

/* Estilo para celdas de datos pares dentro de #tabla2 */
.tabla2 tr:nth-child(even) td {
  background-color: #ffffff;
}

/* Estilo para celdas de datos impares dentro de #tabla2 */
.tabla2 tr:nth-child(odd) td {
  background-color: #e6e6123a;
}



  .header-cell {
    cursor: pointer; /* Cambia el cursor a pointer */
  }
  
  /* Estilos para la celda del cuerpo */
  .cell {
    cursor: pointer; /* Cambia el cursor a pointer */
  }

