@if (!tokenValido) {
  <mat-toolbar>
  La petición no es válida o ha expirado :(</mat-toolbar>
}

<mat-card class="example-card">
  <mat-card-header class="center">
    <mat-card-title>Contraseña</mat-card-title>
    <mat-card-subtitle>Validaciones</mat-card-subtitle>
  </mat-card-header><br>
  <mat-card-content>
    {{validacionPass1}}<br>
    {{validacionPass2}}<br>
    {{validacionPass3}}<br>
    {{validacionPass4}}<br>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-content>
    @if (tokenValido) {
      <form [formGroup]="formRecuperar" (ngSubmit)="onSubmit()">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput type="password" name="password" placeholder="Nueva contraseña" formControlName="password"
                  [formGroup]="formRecuperar">
              </mat-form-field>
              @if (passwordNoValido) {
                <div class="error-message">
                  No cumple las validaciones
                </div>
              }</td>
              <td>
                <mat-form-field>
                  <input matInput type="password" placeholder="Repetir contraseña" formControlName="confirmPassword"
                    [formGroup]="formRecuperar">
                </mat-form-field>
                @if (confirmPasswordNoValido) {
                  <div class="error-message">
                    Debe ser igual a la contraseña
                  </div>
                }</td>
                <td>
                  <button mat-raised-button color="primary" type="submit" [disabled]="formRecuperar.invalid">
                  Cambiar contraseña</button>
                </td>
              </tr>
            </table>
            @if (mensaje) {
              <mat-toolbar>{{mensaje}}</mat-toolbar>
            }
            @if (error) {
              <mat-toolbar>{{error}}</mat-toolbar>
            }
          </form>
        }
      </mat-card-content>
    </mat-card>

    <!--<hr>
    <pre>
      estado: {{formRecuperar.valid}}
      <br>
        Status: {{formRecuperar.status}}
      </pre>
      <pre>
        {{formRecuperar.value | json }}
      </pre>-->
