<mat-card class="example-card-cli">  
  <div class="center">
  <mat-card-header class="center">
      <mat-card-title>Devolución de llamadas</mat-card-title>
      <mat-card-subtitle>Filtradas</mat-card-subtitle>
    </mat-card-header>    
      <form class="example-full-width" [formGroup]="formSecretaria" #frmSecretaria="ngForm"  (ngSubmit)="buscarSecreVirt()">

        <mat-card-actions class="center">
          <button mat-raised-button color="accent">CARGAR DEVOLUCIÓN</button>
        </mat-card-actions>

        <table class="example-full-width" cellspacing="0">
           <tr>
            <td><mat-form-field class="example-full-width">
                <mat-label>tipoDoc</mat-label>
                <input matInput  formControlName="tipoDoc" [readonly]="true">
              </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
             <mat-label>documento</mat-label>
             <input matInput  formControlName="documento" [readonly]="true">
            </mat-form-field></td>
           </tr>
        </table>
      </form>
    
        <mat-card-actions class="center">
          <button mat-raised-button color="primary" type="button">BUSCAR</button>
        </mat-card-actions>
      
  </div>
  </mat-card>
