 /*CARD*/

 .example-card {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3rem;
}

/*CARD*/
.example-card-cli {
    max-width: 1350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
  }

    
  .example-full-width {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .example-full {
    width: 50%;
  }

  mat-card {
    margin: 20px;
  }
  
  table {
    width: 100%;
  }
  
  td {
    padding: 10px;
  }
  

  
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }
  


  
  
  /*BOTTON*/

  section {
    display: table;
  }
  
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .mat-cell-observacion {
    white-space: normal;
    word-wrap: break-word;
    max-width: 600px; /* Opcional: ajusta el ancho máximo según tus necesidades */
  }
  


  

  /*MENSAJE*/
  
  .error-message {
    color: red;
    font-size: small;
  }


  /* Estilo para celdas de datos */

  .colorTabla tr:nth-child(even) td {
    background-color: #ffffff;
  }
  
  /* Estilo para celdas de datos impares dentro de #tabla1 a partir de la segunda fila */
  .colorTabla tr:nth-child(odd) td {
    background-color: #bed0f7;
  }

  .colorHist tr:nth-child(even) td {
    background-color: #ffffff;
  }
  
  /* Estilo para celdas de datos impares dentro de #tabla1 a partir de la segunda fila */
  .colorHist tr:nth-child(odd) td {
    background-color: #d4eed8;
  }


  .labels-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre etiquetas */
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
