<mat-card class="example-card-cli">
    <mat-card-header>
        <div class="center">
      <mat-card-title>Fidelización</mat-card-title>
      <mat-card-subtitle>Comercial</mat-card-subtitle>
    </div>
    <br>
    </mat-card-header>
        <form class="example-form" [formGroup]="formFideli" #frmCliente="ngForm"  (ngSubmit)="guardarFidelizacion()">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                        <mat-label>Teléfono</mat-label>
                        <input matInput  formControlName="telefono" >
                      </mat-form-field>
                      <div class="error-message">
                        Debe ser de 7 a 10 caracteres
                      </div></td>
                    <td><mat-form-field class="example-full-width">
                     <mat-label>Celular</mat-label>
                     <input matInput  formControlName="celular" >
                    </mat-form-field>
                    <div  class="error-message">
                      Debe ser 10 caracteres
                    </div></td>
               </tr>
            </table>
            <mat-card-actions>
                <div class="button-row">
                <button mat-raised-button color="primary" >Guardar</button>
                </div>
            </mat-card-actions>  
        </form>    
  </mat-card>
