<mat-card class="example-card-cli">
    <mat-card-header>
        <div class="center">
      <mat-card-title>Fidelización</mat-card-title>
      <mat-card-subtitle>Comercial</mat-card-subtitle>
    </div>
    <br>
    </mat-card-header>
        <form class="example-full-width" [formGroup]="formFideli" #frmCliente="ngForm"  (ngSubmit)="guardarFidelizacion()">
            <table class="example-full-width" cellspacing="0">
               <tr>
                <td><mat-form-field class="example-full-width">
                    <mat-label>tipoDoc</mat-label>
                    <input matInput  formControlName="tipoDoc" [readonly]="true">
                  </mat-form-field>
                  <div class="error-message">
                    Debe ser de 7 a 10 caracteres
                  </div></td>
                <td><mat-form-field class="example-full-width">
                 <mat-label>documento</mat-label>
                 <input matInput  formControlName="documento" [readonly]="true">
                </mat-form-field>
                <div  class="error-message">
                  Debe ser 10 caracteres
                </div></td>
                <td><mat-form-field class="example-full-width">
                  <mat-label>codCaja</mat-label>
                  <input matInput  formControlName="codCaja" >
                 </mat-form-field>
                 <div  class="error-message">
                   Debe ser 10 caracteres
                 </div></td>
           </tr>

           <tr>
            <td><mat-form-field class="example-full-width">
                <mat-label>regNuevos</mat-label>
                <input matInput  formControlName="regNuevos" >
              </mat-form-field>
              <div class="error-message">
                Debe ser de 7 a 10 caracteres
              </div></td>
            <td><mat-form-field class="example-full-width">
             <mat-label>regRecuperados</mat-label>
             <input matInput  formControlName="regRecuperados" >
            </mat-form-field>
            <div  class="error-message">
              Debe ser 10 caracteres
            </div></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>numPlanilla</mat-label>
              <input matInput  formControlName="numPlanilla" >
             </mat-form-field>
             <div  class="error-message">
               Debe ser 10 caracteres
             </div></td>
       </tr>

       <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>fechaPago</mat-label>
            <input matInput  formControlName="fechaPago" >
          </mat-form-field>
          <div class="error-message">
            Debe ser de 7 a 10 caracteres
          </div></td>
        <td><mat-form-field class="example-full-width">
         <mat-label>observacion</mat-label>
         <input matInput  formControlName="observacion" >
        </mat-form-field>
        <div  class="error-message">
          Debe ser 10 caracteres
        </div></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>migracion</mat-label>
          <input matInput  formControlName="migracion" >
         </mat-form-field>
         <div  class="error-message">
           Debe ser 10 caracteres
         </div></td>
       </tr>

       <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>sucursal</mat-label>
            <input matInput  formControlName="sucursal" >
          </mat-form-field>
          <div class="error-message">
            Debe ser de 7 a 10 caracteres
          </div></td>
        <td><mat-form-field class="example-full-width">
         <mat-label>sucursal</mat-label>
         <input matInput  formControlName="sucursal" >
        </mat-form-field>
        <div  class="error-message">
          Debe ser 10 caracteres
        </div></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>sucursal</mat-label>
          <input matInput  formControlName="sucursal" >
         </mat-form-field>
         <div  class="error-message">
           Debe ser 10 caracteres
         </div></td>
       </tr>


            </table>
            <br>
            <mat-card-actions>
                <div class="button-row">
                <button mat-raised-button color="primary" >Guardar</button>
                </div>
            </mat-card-actions>  
        </form>    
  </mat-card>
