 /*CARD*/
 .example-card-cli {
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.example-full-width {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  

td {
  padding-right: 8px;
}


/*BOTTON*/

.button-row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.error-message {
  color: red;
  font-size: small;
}

input[readonly] {
  background-color: #f8f8f8; /* Cambia el color de fondo según tus preferencias */
  cursor: not-allowed; /* Cambia el cursor al indicador de no permitido */
}
