<router-outlet></router-outlet>
<!-- No olvidar agregar ReactiveFormsModule en App.module.ts, util para trabajar con formularios-->
<!--Formulario Clientes-->

<mat-card class="example-card-cli">
  <mat-card-header>
    <div class="center">
    <mat-card-title>CLIENTE</mat-card-title>
    <mat-card-subtitle>detalles</mat-card-subtitle></div>
  </mat-card-header>
    <mat-card-content>
      <form class="example-container" [formGroup]="form" #frmPaciente="ngForm" >
   
          <table mat-table [dataSource]="dataSourceCli" class="mat-elevation-z8">
      
            <ng-container matColumnDef="razonSocial">
              <th mat-header-cell *matHeaderCellDef> RAZÓN SOCIAL </th>
              <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="tipoDocumento.tipoDoc">
              <th mat-header-cell *matHeaderCellDef> TIPO </th>
              <td mat-cell *matCellDef="let element"> {{element.tipoDocumento.tipoDoc}} </td>
            </ng-container>
      
            <ng-container matColumnDef="nroDocumento">
              <th mat-header-cell *matHeaderCellDef> DOCUMENTO </th>
              <td mat-cell *matCellDef="let element"> {{element.nroDocumento}} </td>
            </ng-container>
          
            <ng-container matColumnDef="divipola.nombre">
              <th mat-header-cell *matHeaderCellDef> MUNICIPIO </th>
              <td mat-cell *matCellDef="let element"> {{element.divipola.nombre}} </td>
            </ng-container>
      
            <ng-container matColumnDef="divipola.idZonapadre.nombre">
              <th mat-header-cell *matHeaderCellDef> DEPARTAMENTO </th>
              <td mat-cell *matCellDef="let element"> {{element.divipola.idZonapadre.nombre}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef> CORREO </th>
              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="telefonoCelular">
              <th mat-header-cell *matHeaderCellDef> CELULAR </th>
              <td mat-cell *matCellDef="let element"> {{element.telefonoCelular}} </td>
            </ng-container>
          
            <ng-container matColumnDef="telefonoFijo">
              <th mat-header-cell *matHeaderCellDef> FIJO </th>
              <td mat-cell *matCellDef="let element"> {{element.telefonoFijo}} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef  > MODIFICAR </th>
              <td mat-cell *matCellDef="let element" > 
                <button mat-button color="primary" >
                  <mat-icon>ballot</mat-icon>
                </button>  
              </td>
          </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="clienteColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: clienteColumns;"></tr>
          </table>
        
      </form>

    </mat-card-content>
</mat-card>
<br>


<!--Formulario de Historico De Gestiones-->

<mat-card class="example-card-cli">
  <mat-card-header>
    <div class="center">
    <mat-card-title>HISTÓRICO</mat-card-title>
    <mat-card-subtitle>gestiones</mat-card-subtitle></div>
  </mat-card-header>
    <mat-card-content>
       <table mat-table [dataSource]="dataSourceHisto" class="mat-elevation-z8">
      
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> FECHA </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>
          
             <ng-container matColumnDef="usuario">
              <th mat-header-cell *matHeaderCellDef> USUARIO </th>
              <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
            </ng-container>
      
            <ng-container matColumnDef="campana">
              <th mat-header-cell *matHeaderCellDef> CAMPAÑA </th>
              <td mat-cell *matCellDef="let element"> {{element.campana}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef> TIPO </th>
              <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="subtipo">
              <th mat-header-cell *matHeaderCellDef> SUBTIPO </th>
              <td mat-cell *matCellDef="let element"> {{element.subtipo}} </td>
            </ng-container>
          
            <ng-container matColumnDef="observacion">
              <th mat-header-cell *matHeaderCellDef> OBSERVACIÓN </th>
              <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
            </ng-container>
      
            <ng-container matColumnDef="numero">
              <th mat-header-cell *matHeaderCellDef> NUMERO REAL </th>
              <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="detalleGestionColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: detalleGestionColumns;"></tr>
          </table>

          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad"></mat-paginator>
        
      

    </mat-card-content>
</mat-card>
<br>


<!--Formulario de tipificacion-->
  
<mat-card class="example-card-cli">
  <mat-card-header>
    <div class="center">
    <mat-card-title>CONTACTO</mat-card-title></div>
  </mat-card-header>
  <mat-card-content>
  <form [formGroup]="formContacto" #frmContacto="ngForm" > 
  <table class="example-full-width" cellspacing="0" ><tr>
    
    <td><mat-form-field class="example-full-width">
      <mat-label>Nombre del Contacto</mat-label>
      <input matInput placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido" >
    </mat-form-field><div *ngIf="nombreNoValido" class="error-message">
      Debe ser mínimo  de 4 caracteres
    </div></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Correo del Contacto</mat-label>
      <input matInput placeholder="Correo"   formControlName="correo">
    </mat-form-field><div *ngIf="correoNoValido" class="error-message">
      Formato no Valido
    </div></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Teléfono (P)</mat-label>
      <input matInput placeholder="Principal"  formControlName="telPrincipal" (keypress)="validarNumeros($event)" >
    </mat-form-field><div *ngIf="telPrincipalNoValido" class="error-message">
      Debe ser mínimo  de 7 caracteres
    </div></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Teléfono (S)</mat-label>
      <input matInput placeholder="Secundario"  formControlName="telSecundario" (keypress)="validarNumeros($event)" >
    </mat-form-field><div *ngIf="telSecundarioNoValido" class="error-message">
      Debe ser mínimo  de 7 caracteres
    </div></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Teléfono Celular</mat-label>
      <input matInput placeholder="Celular" formControlName="telCelular" (keypress)="validarNumeros($event)" >
    </mat-form-field><div *ngIf="telCelularNoValido" class="error-message">
      Debe ser mínimo  de 10 caracteres
    </div></td>
    
  </tr></table>
</form>
</mat-card-content>
</mat-card>

<!--Formulario de Guardar Gestiòn-->

<mat-card class="example-card-cli">
  <mat-card-header>
    <div class="center">
    <mat-card-title>TIPIFICACIÓN</mat-card-title></div>
    </mat-card-header>
    <mat-card-content>
    <form [formGroup]="formGuardar" #frmGuardar="ngForm" (ngSubmit)="guardarGestion()">
     <table ><tr> 
      <td></td>     
      <td><mat-form-field class="example-full-width">
          <mat-label>Tipo Gestion</mat-label>
          <mat-select   placeholder="SELECCCION" [(value)]="tipoGestionP" (selectionChange)="tipoGestion($event.value)">
            <mat-option *ngFor="let p of (  tipoGestion$ | async )" [value]="p.idEstadoGestion">
              {{p.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field></td>  
        <td></td>
        
        <td><mat-form-field class="example-full-width" >
          <mat-label>Subtipo Gestion</mat-label>
          <mat-select placeholder="SELECCCION" (selectionChange)="subtipoGestion($event.value)" >
            <mat-option *ngFor="let p of (  subTipoGestion$ | async )" [value]="p.idEstadoGestion">
              {{p.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field></td> 
        <td></td>
        </tr></table>
        
        <div >OBSERVACIÓN</div>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Observaciones</mat-label>
            <textarea matInput placeholder="Observación" formControlName="observacionD" [class.is-invalid]="observacionDNoValido"></textarea>
          </mat-form-field><div *ngIf="observacionDNoValido" class="error-message">
          Debe ser mínimo  de 4 caracteres
        </div>
        </div>

        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Numero Real Marcado</mat-label>
        <input matInput placeholder="Número Real" formControlName="numeroreal" (keypress)="validarNumeros($event)" >
      </mat-form-field><div *ngIf="numerorealNoValido" class="error-message">
        Debe ser mínimo  de 7 caracteres
      </div>

  
        <section class="example-form">
          <div class="example-button-row">
          <button mat-raised-button color="primary"  [disabled]="formContacto.invalid" [disabled]="formGuardar.invalid" >
          <mat-icon>call</mat-icon>
          <span>GUARDAR</span>
          </button>
        <button mat-raised-button color="accent"  (click)="cancelarGestion()" style="cursor: pointer">
          CANCELAR</button>
          </div>
          </section>
        <mat-divider></mat-divider> 
    </form>
  </mat-card-content>
</mat-card>  

<!--API DE PILA-->
<mat-card class="example-card-cli">
  <mat-card-content>
    <div class="example-button-row">
      <button  mat-raised-button color="primary" mat-button (click)="accordion.openAll()">EXPANDIR</button>
      <button  mat-raised-button color="accent" mat-button (click)="accordion.closeAll()">CONTRAER</button>
      <mat-divider></mat-divider> 
    </div>
    
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Mensaje de Texto
          </mat-panel-title>
          <mat-panel-description>
            Observación y planilla
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <table><tr>
        <td> <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Mensaje</mat-label>
          <textarea matInput placeholder="Observación" ></textarea>
        </mat-form-field>
        </td>
        <td><mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Planilla</mat-label>
          <input matInput>
        </mat-form-field>
        </td>
        <td><button mat-raised-button color="warn" (click)="mensajeTexto()">
            <mat-icon>call</mat-icon>
            <span>ENVIAR</span>
            </button>
        </td>
        </tr></table>
       
        
    
      </mat-expansion-panel>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Planillas
          </mat-panel-title>
          <mat-panel-description>
            Información por periodos
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table><tr>
          <td> <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Año</mat-label>
            <input matInput>
          </mat-form-field>
          </td>
          <td><mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mes</mat-label>
            <input matInput>
          </mat-form-field></td>
          </tr></table>

      </mat-expansion-panel>
    </mat-accordion>
    
  </mat-card-content>
</mat-card>


        
      

  
