

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .mat-card-header{
    background-color: #bbbbd6 ;
    padding:5px ;
  }
  
   .mat-card{
    padding:0 ;
  }
  
  .mat-card-content{
    padding:5px ;
  }

  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  table {
    width: 100%;
  }


    Tipifica Gestion
  .mat-select-content{
    width: 60%;
  } 

  
  .example-full-width {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  td {
    padding-right: 8px;
  }

  /*Botones*/

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 24px;
    margin-left: 16px;
    min-width: 180px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  table {
    border-collapse: collapse;
  }
  
  th {
    /* row border */
    border-bottom: 1px solid #ffa600;
  }
  
  td.mat-cell {
    /* row padding */
    padding: 20px 0;
    border: none;
  }
  
  tr.mat-row {
    /* row border */
    border: 1px solid #ffa600;
  }
  

    /*CARD*/

  .example-card {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
  }


    /*FORM*/

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
     /*BOTTON*/

  .button-row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }