<router-outlet></router-outlet>

<mat-card class="example-card-cli">

  <!--################################## cartas superiores ############################################-->
  <div class="card-container">
    @for (stat of stats; track stat) {
      <div class="card-item">
        <mat-card [ngStyle]="{'background-color': stat.color}" class="text-white">
          <mat-card-header>
            <mat-card-subtitle class="text-white">{{stat.title}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h2 class="m-y-8">{{stat.amount}}</h2>
            <mtx-progress [value]="stat.progress.value"
              height="2px"
              foreground="rgba(255,255,255,1)"
              background='rgba(0,0,0,.5)'>
            </mtx-progress>
            <small class="text-muted">{{this.agenteDTO.usuario}} </small>
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>


    <!--################################## formulario pruebas ############################################-->

  <!--################################## cartas superiores ############################################-->
  <mat-card class="example-card-cli2" >
    <div class="mat-card-content"  >
      <mat-card class="example-card"  >
        <div [hidden]="cardCliente"  >
          <div class="center">
            <mat-card class="example-card" [style.background-color]="colorExt" >
              <mat-card-header>
                <div class="center">
                  <mat-card-title>CLIENTE</mat-card-title>
                </div>
              </mat-card-header>
              <mat-card-content>
                <form class="example-form" [formGroup]="formAgente" #frmAgente="ngForm">
                  <div class="form-grid three-columns">
                    <mat-form-field>
                      <mat-label>Estado</mat-label>
                      <input matInput formControlName="estado" readonly>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Número entrante</mat-label>
                      <input matInput formControlName="numeroReal" readonly>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Hora Inicio Estado</mat-label>
                      <input matInput formControlName="horaInicio" readonly>
                    </mat-form-field>
                  </div>
                  <div class="form-grid three-columns">
                    <mat-form-field>
                      <mat-label>Hora Actual</mat-label>
                      <input matInput [value]="formAgente.get('horaActual')?.value" readonly>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Tipo documento</mat-label>
                      <input matInput [value]="formCliente.get('tipoDoc')?.value" readonly>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Número documento</mat-label>
                      <input matInput [value]="formCliente.get('identificacion')?.value" readonly>
                    </mat-form-field>
                  </div>
                </form>
                <form class="example-form" [formGroup]="formCliente" #frmCliente="ngForm">
                  <div class="form-grid">
                    <mat-form-field class="full-width">
                      <mat-label>Razón social</mat-label>
                      <input matInput formControlName="cliente" readonly>
                    </mat-form-field>
                  </div>
                </form>
              </mat-card-content>
              <mat-card-actions class="example-card-actions">
                <div class="button-row">
                  <button mat-raised-button color="primary" (click)="buscarAuto()">Consultar</button>
                  <button mat-raised-button color="accent" (click)="buscarManual()">Manual</button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div [hidden]="cardManual">
          <mat-card class="example-card">
            <mat-card-header>
              <div class="center">
                <mat-card-title>Consulta manual</mat-card-title>
                <br>
              </div>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="formBuscar" #frmBuscar="ngForm" (ngSubmit)="buscarCliente()" class="form-grid two-columns">
                <mat-form-field appearance="fill">
                  <mat-label>Tipo Documento</mat-label>
                  <mat-select placeholder="SELECCION" [(value)]="tipoDocumento">
                    <mat-option *ngFor="let p of (tipoDocumento$ | async)" [value]="p.tipoDoc">
                      {{ p.tipoDoc }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>NúmeroDocumento</mat-label>
                  <input matInput placeholder="DOCUMENTO" type="number" required formControlName="nroDocumento">
                </mat-form-field>

               

              </form>
              <mat-card-actions class="example-card-actions">
                <div class="button-row">
                  <button mat-raised-button color="primary" type="submit" [disabled]="formBuscar.invalid" (click)="buscarCliente()">
                    <mat-icon>call</mat-icon>
                    <span>Consultar</span>
                 </button>
                </div>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
          <mat-card></mat-card>
        </div>
      </mat-card>
    </div>
  </mat-card>
  
  
  