.large-text {
    font-size: 1.5em;
    color: blueviolet;
    text-align: center;
  }

  .example-card-car {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

.example-card-dat {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
  }