<router-outlet></router-outlet>

<!--  BUSCAR GESTIÓN  -->
<mat-card class="example-card-cli">
    <mat-card-header>
      <div class="center">
      <mat-card-title>Gestión Saliente</mat-card-title>
      <mat-card-subtitle>Inicio</mat-card-subtitle></div>
    </mat-card-header>
    <mat-card-actions>
      <div class="example-button-row center">
        <button mat-raised-button color="primary" (click)="buscarCliente()" [disabled]="habilitaG" >BUSCAR</button>
      </div>    
      </mat-card-actions>
  </mat-card>
  