<mat-card class="example-card-cli">
    <mat-card-header>
        <div class="center">
        <mat-card-title>CLIENTES</mat-card-title></div>
      </mat-card-header>
    <mat-card-content>Nuevos</mat-card-content>
    <form class="example-form" [formGroup]="formCliente" #frmCliente="ngForm"  (ngSubmit)="guardarCliente()">
        <table class="example-full-width" cellspacing="0">
         <tr>
          <td>
          <mat-form-field class="example-full-width">
            <mat-label>Tipo Documento</mat-label>
            <mat-select placeholder="SELECCCION" [(value)]="tipoDocumento">
              <mat-option *ngFor="let p of (  tipoDocumento$ | async )" [value]="p.tipoDoc">
                {{p.tipoDoc}}
              </mat-option>
            </mat-select>
          </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>Documento</mat-label>
            <input matInput type="text" formControlName="documento" [class.is-invalid]="nombreNoValido">
            </mat-form-field>
            <div *ngIf="nombreNoValido" class="error-message">
              El nombre es obligatorio
            </div>
          </td>
        </tr>
         <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Ciudades</mat-label>
              <mat-select placeholder="SELECCCION" [(value)]="divipola">
                <mat-option *ngFor="let d of (  divipola$ | async )" [value]="d.idZona">
                  {{d.nombre}}{{d.departamento}}
                </mat-option>
              </mat-select>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
             <mat-label>Razón Social</mat-label>
             <input matInput type="text" formControlName="rsocial"  >
            </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Dirección</mat-label>
            <input matInput type="text" formControlName="direccion"  >
          </mat-form-field></td>
            </tr>

        <tr>
            <td><mat-form-field class="example-full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput type="number" formControlName="telefono"  >
              </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
             <mat-label>Celular</mat-label>
             <input matInput type="number" formControlName="celular"  >
            </mat-form-field></td>
       </tr>


       <tr>
        <td><mat-form-field class="example-full-width">
         <mat-label>Correo</mat-label>
         <input matInput type="text" formControlName="correo">
        </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label> # Empleados</mat-label>
        <input matInput  type="number" formControlName="empleados"  >
      </mat-form-field></td>
   </tr>

        </table>    
        <mat-card-actions>
          <div class="button-row">
          <button mat-raised-button color="primary">Guardar</button>
          <button mat-raised-button color="accent"  (click)="cancelarCliente()">Cancelar</button></div>
      </mat-card-actions>    
    </form>
</mat-card>

<hr>
<pre>
  estado del formulario:{{ formCliente.valid }}
  <br>

  estatus:{{ formCliente.status }}

</pre>
<pre>
  estado del formulario:{{ formCliente.value | json  }}
</pre>


  
